<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SYFileExplorer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0924B8DC1DF4131000B192E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0924B8F51DF4131000B192E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0924B9001DF4131000B192E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
